nav{
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  padding: 1.5em;
  position: sticky;
  top: 0px;
}
.write a{
  color: #ffffff;
  text-decoration: none;
  padding: 3px;
  border: 2px solid white;
  border-radius: 4px;
}